
<section id="timeTrackerContainer" ng-show="vm.visible"  ng-class="{'fade-in': vm.visible}">

  <header>
    <h1>TimeTracker</h1>
    <h4>productive.io task</h4>
    <p>Your issue tracker for today: {{vm.today}}</p>
  </header>

  <aside class="errors" ng-class="{ 'fade-out': vm.dismissed }" ng-show="vm.anyErrors() && !vm.hiddenDismissable">
    <span class="close" ng-click="vm.dismiss()">
      <img src="img/clear.png">
    </span>
    <span ng-repeat="(key, value) in vm.errors">
      <span ng-repeat="error in value" class="error">{{::error.detail}}</span>
    </span>
  </aside>

  <section class="timetracker-box">

    <h5>Create new time entry</h5>
    <form name="timeEntry" action="/">
      <label>
          <span>Project</span>
          <p>{{::vm.service.attributes.name}}</p>
      </label>
      <label>
        <span>Time (in minutes)</span>
        <input type="text" ng-model="vm.time" placeholder="Please provide your time in minutes" />
      </label>
      <label>
        <span>Note</span>
        <textarea ng-model="vm.note" placeholder="Please provide short description of the task" ></textarea>
      </label>
      <div class="create-time-entry">
        <button class="submit" ng-click="vm.createTimeEntry($event)">Create time entry</button>
      </div>
    </form>
  </section>


  <section class="timetracker-list">
    <h5>Your time tracker list</h5>

    <div class="timetracker-list-container">
      <p ng-if="vm.timeEntries.length == 0">Your list is empty.</p>
      <div ng-show="!vm.hideTimetrackerLoader" class="loader" ng-class="{'fade-out': loadingTimetracker}">
        <img src="/img/oval.svg" width="60" />
      </div>
      <ul>
        <li ng-repeat="timeEntry in vm.timeEntries">
          <span class="item">Date: <span>{{::timeEntry.attributes.date}}</span></span>
          <span class="item">Time (in minutes): <span>{{::timeEntry.attributes.time}} minutes</span></span>
          <a href="#" class="delete" ng-click="vm.deleteTimeEntry($event,timeEntry)">Delete</a>

          <span class="item note">Note: <span>{{::timeEntry.attributes.note}}</span></span>

        </li>
      </ul>
    </div>

  </section>

</section>
