/*======== */
/* Commons */
/*======== */

html,
input.search-input {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica;
}

body {
  margin: 0 20%;
  padding: 0
}

.hide {
  display: none;
}
.show {
  display: block;
}

/*================= */
/* Search component */
/*================= */

div.search-ui {
  width: 100%;
  position: relative;
}

div.search-ui h2 {
  font-size: 1.3rem;
}

div.search-ui input.search-input {
  width: 96%;
  padding: .8rem 2%;
  border: 1px solid #ccc
}

div.search-ui ul.search-list {
  box-shadow: 0px 5px 8px #a0a0a0;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  background: #fff;
  list-style: none;
}

  div.search-ui ul.search-list li {
    padding: 1rem;
    cursor: pointer;
  }

    div.search-ui ul.search-list li:hover {
      background: #ccc
    }

  div.search-ui .search-detail {
    padding: 1rem 2%;
  }

  div.search-ui .search-detail p {
    margin: 0 0 0.5rem 0;
  }


/* Loader indicator */

.loading {
  background: url("/img/loader.gif") no-repeat 98% .8rem;
  background-size: 2%
}
