html {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica;
}

body {
  margin: 0 20%;
  padding: 0
}

header {
  padding: 1.5rem 1rem 2.5rem 1rem;
  background-color: #303565;
  color: #fff
}

h1 {
  line-height: 1rem;
  padding: 0;
  margin: 0;
  float: left
}
h1 a {
  color: inherit;
  text-decoration: inherit;
}

nav {
  float: right
}
nav ul {
  margin: 0;
  padding: 0
}
nav ul li {
  display: inline;
}
nav ul li a {
  padding: 1.45rem;
  color: #fff
}
nav ul li a.selected {
  background: #ccc;
  color: #000;
  text-decoration: none;

}

/* Contact page */

.contact ul {
  list-style-type: none;
  padding-bottom: 1rem;
  margin: 0;
  padding: 0;
}


.contact ul li {
  padding: .4rem 1rem;
}

.contact .search {
  text-align: center;
  padding: 1rem 0
}

.contact .contact-name-header {
  padding: 1rem 0;
  padding-left: 1rem;
}

.contact .search input {
  padding: 1.5%;
  width: 96.5%;
  font-size: 1rem;
}

.contact h2 {
  background: #ccc;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
}

.contact .desc,
.contact .asc {
  background-repeat: no-repeat ;
  background-position: 10% center;
}

.contact .desc {
  background-image:  url("/img/arrow_downward.png");
}

.contact .asc {
  background-image: url("/img/arrow_upward.png");
}




/* Detail page */

.contact.details a {
  margin-left: 1rem;
  font-size: 1rem;
  margin: 1rem;
  float: left;
  clear: both;
}

.contact.details .business-card {
  background-color: #3FCEB0;
  padding: 1rem;
  box-shadow: 2px 2px .4rem rgba(7, 49, 41, 0.51);
}
.contact.details .business-card > div {
  float: left;
  width: 60%;
  padding: 3rem 0;
}

.contact.details .business-card h3 {
  margin: 0;
  font-size: 2rem;
  padding: 2rem 2rem 0 2rem;
}
.contact.details .business-card h4 {
  padding: 0 2rem 2rem 2rem;
}

.contact.details .business-card .co-detail {
  border-left: 1px solid #9EE8D9;
  padding: 0 1rem;
  margin: 3rem 0;
  width: 35%
}

.contact.details .business-card .co-detail ul {
  margin-bottom: 2rem
}

.contact.details .business-card .co-detail ul li {
  line-height: 1.5rem;
  padding: 0;
  font-style: italic;
}

.contact.details .business-card .co-detail span {
  display: block;
  line-height: 1.5rem;
}

.contact.details .business-card .co-detail  a {
    margin: 0;
    float: none;
    clear: none;
}



/* Report page */

.report .report-names {
  margin-top: 1rem
}

.report .report-names table {
  border-left: 1px solid #ccc;
  border-spacing: 0;
}

.report .report-names table thead {
  background: #ccc;
  margin: 0;
  padding: 0;
}
.report .report-names table thead th:first-child {
  border-right: 1px solid #fff;
}

.report .report-names table thead th,
.report .report-names table tbody td {
  padding: .6rem 1rem;
  font-weight: normal;
}

.report .report-names tbody td {
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/*
* COMMONS
*
*/

.clear {
  float: none !important;
  padding: 0 !important;
  width: 100% !important;
  clear: both !important;
}

/* Loader indicatior */

.loader {
  background: rgba(58, 97, 121, 0.49);
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 20%;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }


.fade-out {
 opacity:1;
 -webkit-animation:fadeOut ease-in 1;
 -moz-animation:fadeOut ease-in 1;
 animation:fadeOut ease-in 1;

 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:.5s;
 -moz-animation-duration:.5s;
 animation-duration:.5s;
}


/* Viewport tweaks */

@media (max-width: 1300px) {
 body {
   margin: 0 15%;
 }
 .contact .desc,
 .contact .asc {
   background-position: 20% center;
 }

 .loader {
     padding-top: 30%;
 }
}


@media (max-width: 1000px) {
 html {
  font-size: 14px!important
 }

 body {
   margin: 0 15%;
 }

}


@media (max-width: 900px) {


 .contact.details .business-card > div {
   width: 50%;
 }

 .contact.details .business-card .co-detail {
     width: 40%;
 }

}

@media (max-width: 800px) {
 body {
   margin: 0 5%;
 }

}


@media (max-width: 600px) {
 body {
   margin: 0;
 }
 .contact .search input {
   width: 92%;
 }
 .contact.details .business-card,
.report .report-names {
  margin: 1rem;
}
.contact.details .business-card h3,
.contact.details .business-card h4 {
  padding: 1rem 1rem 0 1rem;
}

.contact.details .business-card h3 {
  font-size: 1.5rem;
}

 .contact .desc,
 .contact .asc {
   background-position: 20% center;
 }

}
