
*{
	margin:0;
	padding:0;
}

html {
	font-size: 13px;
}

a {
	color: #00408f
}

.placeholder {
	color: #aaa;
}

body{
	font-family:'Open Sans', Arial, Helvetica, sans-serif ;
	color: #383838;
	margin: 0 auto;
	line-height: 14px;

}


h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	margin: 20px 0;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size:18px; 
}

h2 span.pages{
	font-size: 12px;
	margin: 15px 0 0 0;
	display: block;
}

h3{ 
	font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif ;
	text-transform: uppercase;
}


section,
.clear {
	clear: both
}


fieldset,
img {
	border: 0
}

select, textarea {
	border: 1px solid #ccc; 
	border-radius: 5px; 
	padding: 3px; 
	min-width: 50px;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px #BAE6FF inset;
    padding: 5px;	
    width: 150px;
}


input:focus {
    box-shadow: 0 0 3px #fff inset;
}


button  {
    background-color: #008ED0;
    border: 1px solid #3b3b3b;
    color: #FFFFFF;
    font-family: 'Open sans',sans-serif;
    font-size: 11px;
    margin-left: 5px;
    padding: 4px 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 2px #005982;
}


button:hover {
    background-color: #12a6eb; 
    border: 1px solid #6b6b6b;
    box-shadow: none;
}

/*
button:hover {
    background:-moz-linear-gradient(center top , #12a6eb 0%, #12a6eb 89%, #12a6eb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)
}
*/

:disabled {
 	background: none repeat scroll 0 0 #F9F9F9;
    border-color: #F0F0F0;
    box-shadow: none;
    color: #CCCCCC;
}


button:disabled {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #CCCCCC;
}



.hide {
	display: none;
}

.show {
	display: block;
}
 
label {
	display: block;
	padding: 5px 0;
	width: 25%;
	float: left;
}
label input {
	float: left
}
label span {
	padding: 0 0 0 3px
}

#loader,
.loader {
	 background-color: #fff;
	 height: 100%; 
	 opacity: 0.85; 
	 position: fixed;
	 top: 0;
	 width: 100%;
	 text-align: center;
	 z-index: 5000;
}


.loader-inline {
	 color: #fff;
	 height: 100%; 
	 opacity: 0.85; 
	 width: 100%;
	 text-align: center;
	 z-index: 5000;
}


#loader span, .loader span, .loader-inline .reader-container > span {
    background: url("../images/loader5.gif") no-repeat center center;
    display: block;
    padding-top: 20%;
	width: 100%;
	height: 80px;
	position: fixed;
}

#reader  .reader-container {
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	float: left;
	width: auto;
	padding: 20px;
}

#readerView #readerChars span,
#readerView #readerBytes span {
	float: left; 
	width: 20px;
	height: 15px;
	padding: 3px 0px;
	text-align: center
}

#readerView #readerBytes  span.rowsCount {
	text-align: left;
	width: auto;
	padding-right: 15px
}

#readerView #readerChars span {
	width: auto;
	padding: 3px 0;
}
#readerView h2 {
	padding: 30px 0 10px 0;
}
#readerView h2 .info {
	font-size: 11px;
	margin-top: 20px;
	text-align: left;
	/* width: 100%; */
	display: block;
	font-style: italic;
}
#readerListing {
	list-style-type: disc;
	display: block;
	padding: 30px;
	float: left;
	width: 18%
}

	#readerListing  li{
		line-height: 20px;
	}


.hexValues,
.charValues,
#readerBytes  {
	float: left
}

.hoverable:hover,
.hoverable.hover {
	background-color: #000;
	color: #fff
}

#readerView span.rowsCount,
#readerView span.bytes,
#readerView span.rows {
	text-transform: uppercase
}

#readerView span.rowsCount {
	width: 80px;
}

#searchBox {
	width: 220px;
	padding-left: 15px;
	float: left
}

#readerChars {
	padding-left: 15px;
	float: left
}

