/* ///////////////////////////////// */
/*
 CSS definitions for TimeTracker app
 (Productive task)
*/
/* ///////////////////////////////// */


body {
  margin: 0 20%;
  padding: 0;
  background-color: #ececec;
  color: #555;
  /*height: 100%;*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*div[ui-view] {
  height: 100%;
}

  div[ui-view] > section {
    position: relative;
    height: 100%;
    min-height: 100%;
  }*/



/* ============================ */
/* Common typography definition */
/* ============================ */


html {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica;
  height: 100%;
}


p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}


h1, h2, h3, h4 {
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
  color: #000
}

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}




/* ========================= */
/*  Form elements definition */
/* ========================= */

form textarea,
form input[type='text'] {
  width: 100%;
  padding: .5rem 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  /*text-indent: .5rem;*/
}

  form textarea:focus,
  form input[type='text']:focus {
    outline: none;
    border-color: #000;
  }

  form textarea { resize: vertical; }

form label span {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  color: #000
}

button.submit {
  background-color: #1f1f1f;
  border: 0;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border-radius: .2rem;
  font-weight: bold;
  color: #ffffff;
  font-size: .8rem;
  outline: none;
  border: 1px solid transparent;
  margin-top: 2rem;
}


  button.submit:focus {
    box-shadow: 0.1rem 0.1rem 1rem rgb(150, 150, 150);
  }

  button.submit:active {
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(101, 101, 101);
    border-color: #000;
  }





/* ======================== */
/* Login screen definitions */
/* ======================== */


#loginContainer,
#loginContainer .login-box form {
  display: flex;
  flex-flow: row wrap;
}

#loginContainer {
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6rem 8rem;
}

  #loginContainer > *,
  #loginContainer .login-box label {
    flex: 1 100%;
  }


  #loginContainer header {
    text-align:center
  }

  #loginContainer header  h1 {
    text-transform: uppercase;
    color: #ed7c14;
    margin-bottom: 0rem
  }

  #loginContainer header  h4 {
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  #loginContainer header  p {
    font-size: 0.8rem;
  }

    #loginContainer .login-box label {
      padding: 1rem 0;
    }

        #loginContainer .login-box label span {
          display: block
        }

        #loginContainer .login-box label input {
          display: block
        }





/* ============================== */
/* Timetracker screen definitions */
/* ============================== */


#timeTrackerContainer,
#timeTrackerContainer .timetracker-box form {
  display: flex;
  flex-flow: row wrap;
}

#timeTrackerContainer {
  margin-top: 0rem;
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px;
  padding: 1rem;
  /*position: absolute;*/
  height: 100%;
}

#timeTrackerContainer aside.errors {
  margin: 1.5rem 0 0 0;
}


  #timeTrackerContainer > *,
  #timeTrackerContainer .timetracker-box .create-time-entry,
  #timeTrackerContainer .timetracker-box label {
    flex: 1 100%;
  }

  #timeTrackerContainer .timetracker-box .create-time-entry {
    text-align: right
  }

  #timeTrackerContainer header  h1 {
    text-transform: uppercase;
    color: #ed7c14;
    margin-bottom: 0rem
  }

  #timeTrackerContainer header  h4 {
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  #timeTrackerContainer header  p {
    font-size: 1rem;
  }

  #timeTrackerContainer .timetracker-box label {
    padding: 1rem 0;
  }

  #timeTrackerContainer .timetracker-box h5,
  #timeTrackerContainer .timetracker-list h5  {
    color: #ed7c14;
    margin-bottom: 0rem;
    /* EDIT BELOW ???*/
    /*background: #f19a49;
    padding: .5rem 1rem;
    color: #fff;
    margin: 0 -1rem;*/
  }

    #timeTrackerContainer .timetracker-box .submit {
      padding: .5rem 1.5rem;
      font-size: .75rem;
      margin: 1rem 0;
      cursor: pointer;
    }


      #timeTrackerContainer .timetracker-box label span {
        display: block
      }
      #timeTrackerContainer .timetracker-box label p {
        color: #000;
        font-size: .9rem;
        padding-top: .5rem;
        margin: 0;
      }

      #timeTrackerContainer .timetracker-box label input {
        /*display: block*/
      }

      #timeTrackerContainer .timetracker-list .timetracker-list-container {
        position: relative;
        min-height: 8rem
      }
        #timeTrackerContainer .timetracker-list .timetracker-list-container > p {
            font-size: .8rem;
            padding: 1rem 0
        }
        #timeTrackerContainer .timetracker-list .timetracker-list-container .loader {
            background: rgba(210, 210, 210, 0.49);
            padding-top: 5%;
        }

      #timeTrackerContainer .timetracker-list ul {
        margin: 1rem 0
      }

      #timeTrackerContainer .timetracker-list li {
        /*display: flex;*/
        font-size: .8rem;
        border-bottom: 1px dotted #ccc;
        /*margin: 1rem 0;*/
        padding: 1rem .3rem;
      }

      #timeTrackerContainer .timetracker-list li:hover {
        background-color: #e0e0e0
      }

      #timeTrackerContainer .timetracker-list li span.item {
        /*flex: 1 auto;*/
        width: 40%;
        display: inline-block;
        font-weight: bold;
      }

      #timeTrackerContainer .timetracker-list li a.delete {
          /* flex: 1 auto; */
          width: 20%;
          background: url(../img/delete.png) no-repeat 2% 50%;
          background-size: 30%;
          padding-left: 5%;
          padding: 1rem 1rem 1rem 5%;
          margin-bottom: 1rem;
          color: #000;
          text-decoration: none
      }

      #timeTrackerContainer .timetracker-list li span.note {
        padding-top: .5rem
      }

        #timeTrackerContainer .timetracker-list li span.item span {
          font-weight: normal;
        }


/* ============================== */
/* Main error section definitions */
/* ============================== */

aside.errors  {
  color: #dc1313;
  padding: 1rem;
  border: 1px solid #de1a3f;
  background: url(../img/warning_red.png) no-repeat 2% 50%;
  background-size: 5%;
  padding-left: 15%;
  padding: 1rem 1rem 1rem 15%;
  position: relative;
  margin-bottom: 1rem;
  background-color: #ececec;
}

  aside.errors > p,
  aside.errors > span  {
    margin: 0;
    font-size: .9rem
  }

    aside.errors > span > span.error {
      display: block;
      padding-bottom: .2rem;
    }

  aside.errors span.close  {
    width: 1rem;
    position: absolute;
    top: 10%;
    right: 2%;
    cursor: pointer;
    opacity: .4
  }

    aside.errors span.close img  {
      width: 100%;
    }



/* ==================================== */
/* Main loader indicator (route change) */
/* ==================================== */

.loader {
  background: rgba(58, 97, 121, 0.49);
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 20%;
}



/* ===================== */
/* Animation definitions */
/* ===================== */


@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-out {
 opacity:1;
 -webkit-animation:fadeOut ease-in 1;
 -moz-animation:fadeOut ease-in 1;
 animation:fadeOut ease-in 1;

 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:.5s;
 -moz-animation-duration:.5s;
 animation-duration:.5s;
}

.fade-in {
 opacity:1;
 -webkit-animation:fadeIn ease-in 1;
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:.5s;
 -moz-animation-duration:.5s;
 animation-duration:.5s;
}




/* ============================= */
/* Various device screen tweaks  */
/* ============================= */

@media (max-width: 1200px) {

  #loginContainer {
    padding: 4rem 6rem;
  }
}

@media (max-width: 800px) {

  html {
    font-size: 14px;
  }

  #loginContainer {
    padding: 4rem 4rem;
  }
}


@media (max-width: 600px) {


  html {
    font-size: 12px;
  }

  #loginContainer {
    padding: 2rem;
  }


}
