
<section id="loginContainer">

  <header>
    <h1>TimeTracker</h1>
    <h4>productive.io task</h4>
    <p>Please provide any valid Company ID and User token value!</p>
  </header>

  <aside class="errors" ng-class="{ 'fade-out': vm.dismissed }" ng-show="vm.error && !vm.hiddenDismissable">
    <span class="close" ng-click="vm.dismiss()">
      <img src="img/clear.png">
    </span>
    <p>Please provide credentials</p>
  </aside>

  <section class="login-box">
    <form name="login" action="/">
      <label>
        <span>Company ID</span>
        <input type="text" ng-model="vm.companyId" />
      </label>
      <label>
        <span>User token</span>
        <input type="text" ng-model="vm.userToken" />
      </label>
      <button class="submit" ng-click="vm.authorize($event)">Login</button>
    </form>
  </section>

</section>
