
<section>

  <header>
    <h1><a href="/#/">Contacts</a></li></h1>
    <nav>
      <ul>
        <li><a href="/#/contacts/list" ng-class="{selected: page === 'contacts'}">List</a></li>
        <li><a href="/#/contacts/report" ng-class="{selected: page === 'report'}">Reports</a></li>
      </ul>
    </nav>
  </header>
  <main ui-view></main>

  <div ng-show="!hideLoader" class="loader" ng-class="{'fade-out': !loading}">
    <img src="/img/oval.svg" width="60" />
  </div>

</section>
