
<section class="contact report">
  <h2>Reports</h2>
  <div class="report-names">
    <h4>1. Report</h4>
    <table>
      <thead>
        <tr>
          <th>First name starting with</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in vm.contactList | orderBy: 'character'">
          <td>{{ contact.character }}</td>
          <td>{{ contact.count }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
