<div class="reader-container">
	<span></span>
	<div id="readerBytes">
		<%
		var n = obj.currentRow; 
		_.each(obj.uint, function(item,i) { 
			if(i > 0 && i % 16 === 0){
				print("<div class='clear'></div>")
			}
			if(i % 16 === 0){
				
				print("<span class='rowsCount'>" + "00000000".substring(n.toString(16).length) + n.toString(16) + "</span>");
				n += 1;	
			}		
			print("<span class='hoverable bytes' data-selector='selector-" + i + "'>" + "00".substring(item.toString(16).length) + item.toString(16) + "</span>")	
		}); 
		%> 
	</div>
	<div id="readerChars">
		<%
		_.each(obj.characters, function(item,i) { 
			if(i > 0 && i % 16 === 0){
				print("<div class='clear'></div>")
			}
			print("<span class='hoverable chars' data-selector='selector-" + i + "'><pre>" +  item + "</pre></span>")
		}); 
		%> 
	</div> 
	<div class='clear'></div>
</div>



