
<% _.each(obj.list, function(item,i) { %> 

	<li><a href="<%= item.filename %>" data-size="<%= item.size %>" data-name="<%= item.filename %>"><%= item.filename %> [<%= item.size %> bytes]</a></li>
<% }); %> 

