<section class="contact">
  <h2>List</h2>
  <div class="search">
    <input type="text" ng-model="vm.searchByName" placeholder="Search by name"/>
  </div>

  <div ng-click="vm.changeOrder()" class="contact-name-header" ng-class="{'asc': !vm.reverse, 'desc': vm.reverse }">Name</div>
  <ul>
    <li ng-repeat="contact in vm.contactList | filter: {name: vm.searchByName}">
      <a href="/#/contacts/details/{{contact.id}}">{{ contact.name }}</a>
    </li>
  </ul>

<section>
