
<section class="contact details">
  <h2>Details</h2>
  <a href="/#/contacts/list">&laquo; Back to list</a>
  <div class="clear"></div>
  <div class="business-card">
    <div>
      <h3>{{vm.contact.name}}</h3>
      <h4>{{vm.contact.company.catchPhrase}}</h4>
    </div>
    <div class="co-detail">
      <ul>
        <li ng-repeat="bs in vm.contact.company.bs.split(' ')">{{bs}}</li>
      </ul>
      <span>Phone: {{vm.contact.phone}}</span>
      <span>E-mail: <a href="mailto:{{vm.contact.email}}">{{vm.contact.email}}</a></span>
      <span>URL: <a href="{{vm.contact.website}}" target="_blank">{{vm.contact.website}}</a></span></span>
    </div>
    <div class="clear"></div>
  </div>

<section>
